body,
html {
  margin: 0;
  font-family: sans-serif;
  background-color: black;
  color: rgb(0, 255, 47)
}

.content {
  margin: 0 auto;
  width: 400px;
}

a {
  color:rgb(0, 255, 47)
}

table,
td,
th {
  border: 1px solid rgb(0, 255, 47);
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

th {
  height: 30px;
}

td {
  text-align: center;
  padding: 5px;
}


#content {
  width: 70%;
}
